<header class="main-header">
    <a 
        class="main-header__link main-header__link_logo"
        href="/"
        title="Karoline Alencar — Home"
    >
        Karoline Alencar
    </a>            
    <nav class="main-header__nav">
        <ul class="main-header__list container">
            <li class="main-header__item">
                <a 
                    class="main-header__link"
                    href="/about"
                    title="About"
                >
                    About
                </a>
            </li>
            <li class="main-header__item">
                <a 
                    class="main-header__link"
                    href="/post/index.xml"
                    title="RSS Feed"
                >
                    RSS
                </a>
            </li>
        </ul>
    </nav>
</header>