<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  
  {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
  {{- else -}}
    <title>Karoline Alencar — {{ .Title }}</title>
  {{- end }}
  <meta name="description" content="{{ $.Param "description" }}">
  <meta name="author" content="Karoline Alencar">
  {{ if .IsHome -}}
    <meta name="keywords" content="Web Developer, Blog, Tutorial, Development">
  {{- else -}}
    {{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}">{{ end }}
  {{- end }}
  {{ if .IsTranslated }}
    {{ range .Translations }}
      <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}

  <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">

  <meta name="google-site-verification" content="33FRSqJW_H1UddoXUKDeLtl3qj00mITkzycfensqgKo" />
  {{ template "_internal/google_analytics.html" . }}

  <link rel="manifest" href="/manifest.json">

  {{ if .IsHome -}}
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
  {{- else -}}
    <meta property="og:title" content="Karoline Alencar — {{ .Title }}">
    <meta name="twitter:title" content="Karoline Alencar — {{ .Title }}">
  {{- end }}

  <meta property="og:description" content="{{ $.Param "description" }}">
  <meta property="og:image" content="https://karolinealencar.com/img/intro-illustration.png">
  <meta property="og:url" content="https://karolinealencar.com{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@karoldalencar">
  <meta name="twitter:description" content="{{ $.Param "description" }}">
  <meta name="twitter:image" content="https://karolinealencar.com/img/intro-illustration.png">
  <meta name="theme-color" content="#F22927" />
</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
              .then((reg) => {
                console.log('Service worker registered.', reg);
              });
        });
      }
    </script>
  {{ end }}
</body>

</html>
