<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  
  {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
  {{- else -}}
    <title>{{ .Title }}</title>
  {{- end }}
  <meta name="description" content="{{ $.Param "description" }}">
  <meta name="author" content="Karoline Alencar">
  {{ if .IsHome -}}
    <meta name="keywords" content="Web Developer, Blog, Tutorial, Development">
  {{- else -}}
    {{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}">{{ end }}
  {{- end }}

  <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <meta name="google-site-verification" content="33FRSqJW_H1UddoXUKDeLtl3qj00mITkzycfensqgKo" />
</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
