{{ define "main" }}

<main class="main-grid">
  <section class="category">
      <h1 class="category__title">
        Articles in category
        <span class="category__name block"> #{{ lower .Title }} </span>
      </h1>

      {{ $category := string .Title }}
      {{ $category := lower .Title }}

      {{ range $key, $taxonomy := .Site.Taxonomies.categories }}

        <ul class="post-list__list">
            {{ range $taxonomy.Pages.ByDate }}
              {{ if eq $key $category  }}
                <li class="post-list__post">
                    <div class="post-list__post-info"> {{ .Date.Format "02/01/2006" }} </div>
                    <a 
                        class="post-list__post-link" 
                        href="{{ .Permalink}}" 
                        title="{{ .LinkTitle }}"
                    >
                        <h3 class="post-list__post-title">
                            {{ .LinkTitle }}
                        </h3>
                    </a>
                </li>
              {{ end }}
            {{ end }}
        </ul>

      {{ end }}

  </section>
</main>

{{ end }}