.about {
    grid-column: 1 / 13;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about__illustration {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.about__title {
    margin-top: 0;
    color: var(--accent-color);
    text-align: center;
}

.about__social-media {
    margin-bottom: .8rem;
}

@media (max-width: 800px) {

    .about__illustration {    
        float: none;
    }

}