.post {
    grid-column: 1 / 13;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.post__header {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.post__title {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--accent-color);
    word-wrap: break-word;
}

.post__footer {
    margin-top: 10rem;
}

.post__footer-title {
    margin-bottom: 1rem;
}

@media (max-width: 840px) {

    .post__header {
        margin-top: 0;
        margin-bottom: 0;
    }

}