.post-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.post-list__title {
    grid-column: 1 / 13;
    margin-top: 0;
    margin-bottom: 1rem;
}

.post-list__post {
    margin-bottom: 2rem;
}

.post-list__list {
    grid-column: 1 / 13;
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.post-list__post-info {
    font-size: 1.2rem;
}

.post-list__post-tag {
    color: var(--accent-color);
    text-decoration: none;
}

.post-list__post-link {
    display: block;
    text-decoration: none;
}

.post-list__post-title {
    margin: .2rem 0 0 0;
}

@media (max-width: 620px) {

    .post-list__post-info {
        font-size: 1rem;
    }

}