.social-media {
    max-width: 160px;
    margin: 0 auto;
    padding-left: 0;

    display: flex;
    justify-content: space-between;
}

.social-media_about {
    margin: 0;
}

.social-media__item {
    display: block;
    width: 30px;
}

@media (max-width: 620px) {

    .social-media {
        max-width: 120px;
    }

    .social-media__item {        
        width: 24px;
    }

}