{{ define "main" }}

<main>

    <section class="intro">
        <div class="intro__illustration">
            <img src="/img/intro-illustration.svg" alt="A woman sitting on a chair while checking her phone. She is in an office near a desktop.">
        </div>
        <div class="intro__content">
            <h1 class="intro__title">
                I'm Karoline,
                <span class="block">a web developer. </span>
            </h1>
            <ul class="social-media">
                <li class="social-media__item">
                    <a 
                        href="https://github.com/karolinedealencar"
                        title="Github"
                        target="_blank"
                    >
                        <img src="/img/logo-github.svg" alt="Github Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://twitter.com/karoldalencar" 
                        title="Twitter"
                        target="_blank"
                    >
                        <img src="/img/logo-twitter.svg" alt="Twitter Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://codepen.io/KarolinedeAlencar/" 
                        title="Codepen"
                        target="_blank"
                    >
                        <img src="/img/logo-codepen.svg" alt="Codepen Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://www.linkedin.com/in/karolinedealencar/" 
                        title="Linkedin"
                        target="_blank"
                    >
                        <img src="/img/logo-linkedin.svg" alt="Linkedin Logo">
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="post-list">
        <h2 class="post-list__title">Articles</h2>
        <ul class="post-list__list">
            {{ range .Data.Pages -}}
                <li class="post-list__post">
                    <div class="post-list__post-info">
                        {{ .Date.Format "02/01/2006" }} - 
                        <a 
                            class="post-list__post-tag" 
                            href="categories/{{.Params.categories}}"
                            title="{{.Params.categories}}"
                        >
                            #{{.Params.categories}}
                        </a>
                    </div>
                    <a 
                        class="post-list__post-link" 
                        href="{{ .RelPermalink }}" 
                        title="{{ .Title }}"
                    >
                        <h3 class="post-list__post-title">
                            {{ .Title }}
                        </h3>
                    </a>
                </li>
            {{ end }}
        </ul>
    </section>
    
</main>

{{ end }}
