{{ define "main" }}

<main class="main-grid">
    <article class="about">
        <header>
            <div class="about__illustration">
                <img src="img/self-illustration.svg" alt="A self illustration from Karoline Alencar">
            </div>  
    
            <h1 class="about__title">
                About
            </h1> 
        </header>
            
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget aliquet turpis. 
            Proin eleifend lorem ut orci molestie volutpat. Integer quis mauris ligula. Integer
            non volutpat nulla, non lacinia velit. Curabitur semper iaculis facilisis. Quisque
            non finibus sapien, ut elementum sem. Proin eu tellus ultricies, accumsan lorem
            nec, convallis ante.
        </p>
        <p>
            Curabitur fermentum lobortis purus, tempus feugiat erat vehicula non. Integer vitae
            lacinia urna. Donec in imperdiet lacus. Pellentesque ac semper dolor. Fusce vulputate 
            elementum est, eu varius lacus iaculis id. Nunc porttitor, ipsum quis varius hendrerit, 
            ipsum ante placerat lacus, sed aliquam quam est at leo. Morbi in fermentum arcu, eu facilisis
            magna. Morbi semper erat quis elit cursus, vel sodales velit fringilla. Aliquam nec lacinia diam,
            vitae viverra nunc. Etiam eget hendrerit dui. Nulla tempor justo sed erat porta, id bibendum justo
            ultricies. Nullam et mauris dignissim, hendrerit ex id, euismod erat. Aenean varius placerat magna 
            quis ullamcorper. Suspendisse lobortis, felis nec dignissim laoreet, leo massa hendrerit eros, eu 
            pharetra libero arcu ac urna. Curabitur tristique elementum libero, eu hendrerit mi semper id.
        </p>
        <p>
            Etiam sit amet velit at enim posuere malesuada quis eu ligula. Pellentesque sollicitudin ac velit at
            dignissim. Suspendisse et viverra eros, vel consequat turpis. Maecenas id nibh rutrum, bibendum urna quis,
            mollis felis. Maecenas nibh nunc, faucibus nec dictum quis, luctus non felis. Vestibulum tempor justo id 
            egestas eleifend. Cras ultricies fringilla nibh, et dictum justo viverra sit amet. Maecenas vulputate, quam 
            ac pretium porttitor, nisi magna mattis orci, ut gravida velit nisi convallis odio. Mauris velit tortor, 
            facilisis a nulla et, laoreet dapibus neque. Donec aliquet semper libero non dictum. Pellentesque ornare
            nisi vitae diam interdum rutrum. Maecenas nec enim ullamcorper, porttitor purus et, dapibus mauris. Vestibulum
            dictum auctor dolor a dictum.
        </p>

        <footer>
            <h3 class="about__social-media">Social Media</h2>
            <ul class="social-media social-media_about">
                <li class="social-media__item">
                    <a 
                        href="https://github.com/karolinedealencar"
                        title="Github"
                        target="_blank"
                    >
                        <img src="/img/logo-github.svg" alt="Github Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://twitter.com/karoldalencar" 
                        title="Twitter"
                        target="_blank"
                    >
                        <img src="/img/logo-twitter.svg" alt="Twitter Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://codepen.io/KarolinedeAlencar/" 
                        title="Codepen"
                        target="_blank"
                    >
                        <img src="/img/logo-codepen.svg" alt="Codepen Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://www.linkedin.com/in/karolinedealencar/" 
                        title="Linkedin"
                        target="_blank"
                    >
                        <img src="/img/logo-linkedin.svg" alt="Linkedin Logo">
                    </a>
                </li>
            </ul>
        </footer>
        
    </article>
</main>

{{ end }}
