{{ define "main" }}

<main class="main-grid">
    <article class="about">
        <header>
            <a class="about__illustration" href="https://icons8.com" title="Illustration by Ouch.pics" target="_blank">
                <img src="img/pluto-come-back-later.png" alt="A cute cat lost in space">
            </a>  
    
            <h1 class="about__title">
                About
            </h1> 
        </header>
            
        <p>
            Hi! I'm Karoline Alencar, a web developer since 2016 and here is where I share my thoughts about development in general. 
        </p>
        <p>
            You can contact me on 
                <a href="mailto:karolinedalencar@gmail.com" title="karolinedalencar@gmail.com"> karolinedalencar@gmail.com </a>
            or <a href="https://twitter.com/karoldalencar" title="Twitter - @karoldalencar">@karoldalencar</a>. Feel free to ask me anything :)
        </p>
        <h3>Talks</h3>
        <ul>
            <li>
                <a href="https://www.slideshare.net/KarolineAlencar/talk-sorocabacss-entendendo-box-model" title="SorocabaCSS - Entendendo Box Model (PT-BR)">
                    SorocabaCSS - Entendendo Box Model (PT-BR)
                </a>
            </li>
        </ul>
    

        <footer>
            <h3 class="about__social-media">Social Media</h2>
            <ul class="social-media social-media_about">
                <li class="social-media__item">
                    <a 
                        href="https://github.com/karolinedealencar"
                        title="Github"
                        target="_blank"
                    >
                        <img src="/img/logo-github.svg" alt="Github Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://twitter.com/karoldalencar" 
                        title="Twitter"
                        target="_blank"
                    >
                        <img src="/img/logo-twitter.svg" alt="Twitter Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://codepen.io/KarolinedeAlencar/" 
                        title="Codepen"
                        target="_blank"
                    >
                        <img src="/img/logo-codepen.svg" alt="Codepen Logo">
                    </a>
                </li>
                <li class="social-media__item">
                    <a 
                        href="https://www.linkedin.com/in/karolinedealencar/" 
                        title="Linkedin"
                        target="_blank"
                    >
                        <img src="/img/logo-linkedin.svg" alt="Linkedin Logo">
                    </a>
                </li>
            </ul>
        </footer>
        
    </article>
</main>

{{ end }}
